
<h1>test demo</h1>
<h2>
  Row/column size = 9. Quantity of values = 4 (0, 1, 2, 3). In
  the row/column always exist (9/4 > 2) repeats.
  Some value repeats 3 times always.
  Stable situation is impossible.<br> Push button "Do" for demo.
</h2>
<div class="command">
  <span>next command: {{curStep()}}</span>
  <button (click)="doStep()">Do</button>
</div>
  <div *ngFor="let row of board.table; let i=index" class="row">
    <div *ngFor="let box of row; let j=index" class="box" [ngClass]="{selected: box.selected}">
      {{box.value}}
    </div>
  </div>



